@import url('nullystyle.css');
@import url('fonts.css');

* {
font-family: 'Gotham Pro';
}

#header {
height: 41px;
background-color: #000000;
color: white;
}

.container {
display: flex;
justify-content: space-between;
margin: 0 72px 0 42px;
}

.logo {
padding-top: 15px;
font-size: 13px;
font-weight: 700;
font-family: 'Gotham Pro Bold';
line-height: 12.44px;
white-space: nowrap;
}

.logo-text {
display: inline;
margin-left: -7px;
}
/* .logo::before {
content: '';
background: url('../img/Rectangle\6.png') repeat-x;
padding-bottom: 33px;
padding-left: 16px;
position: relative;
top: 2px;
} */

.logotype1 {
height: 11.6px;
margin: 0px -8px 0 0;
}

.logotype2 {
height: 11.6px;
margin: 0px 0 0 0px;
}

a:link {
color: white;
text-decoration: none;
font-family: 'Gotham Pro Light';
}

a:visited {
color: white;
text-decoration: none;
font-family: 'Gotham Pro Light';
padding-top: 15px;
font-size: 13px;
font-weight: 700;
font-family: 'Gotham Pro Bold';
}

#navbar {
display: flex;
padding-top: 17px;
padding-bottom: 15px;
font-size: 9px; 
line-height: 9px;
}

#navbar li {
margin-left: 30px;
}

#navbar li:last-child {
margin-left: 15px;
}

.main {
height: 100%;
overflow: hidden;
}

.сontainer {
display: flex;
flex-direction: column;
margin: 0 92px 0 62px;
height: 100%;
}

.main-top {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.main::before {
content: "";
position: absolute;
top:-10px;
background-image: url(../img/Rectangle8.png);
background-repeat: no-repeat;
background-position: right 30px;
background-size: contain; 
width: 100%;
min-height: 110%;
z-index: -1;
transform: rotate(0deg);
    /* background-position: ;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    overflow: hidden; */
}

.main-model {
margin-top: 168px;
}

.main-model h1 {
font-size: 30px;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 8px;
}

.main-model p{
font-size: 14px;
line-height: 130.7%;
max-width: 257px;
text-align: left;
margin-bottom: 30px;
font-family: 'Gotham Pro Light';
}

button {
color: #fff;
background-color: #000000;
width: 109px;
height: 29px;
font-family: 'Gotham Pro Light';
font-size: 11px;
}

button:hover {
background-color: #302e2e;
}

button:active {
position: relative;
top:0.5%;
left: 0.5%;
background-color: #535151;
}

.main-photo {
width: 50%;
}
.main-photo img {
width: 100%;
position: relative;
right: -5%;
top: 35%;
}

.footer {
font-size: 13px;
width: 100%;
display: flex;
justify-content: space-between;
line-height: 12px;
margin-top: 15%;
margin-bottom: 50%;
}

.footer p {
max-width: 100px;
vertical-align: top;
}

#max-speed {
width: 16%;
margin-left: -10px;
}

#accelartion {
width: 16%;
padding-left: 1%;
}

#weight {
width: 16%;
margin-left: 52%;
}

#color{
width: 16%;
padding-left:57px;
}

#max-speed p{
padding-bottom: 12px;
}

#accelartion p{
padding-bottom: 12px;
}

#weight p{
padding-bottom: 12px;
}

#color p{
padding-bottom: 18px;
}

#scroll {
position: absolute;
width: 10%;
text-align: center;
bottom: 5%;
left: 50%;
animation-name: arrow;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-direction: normal;
}

@keyframes arrow {
0%{
bottom: 30%;
}
50%{
bottom: 34%;
}
100%{
bottom: 30%;
}
}

#scroll p {
color: #fff;
text-align: center;
transform: rotate(-90deg);
position: relative;
bottom: 40%;
left: -40%;
font-size: 7px;
}

#scroll img {
color: #fff;
text-align: center;
transform: rotate(360deg);
position: relative;
bottom: 35%;
left: -40%;
}



.feature {
color: #898989;
line-height: 1.5em;
margin-top: 8px;
}

#second-part {
width: 100%;
margin-top: 300px;
margin-bottom: 300px;
}

.items {
display: flex;
justify-content: center;
height: 209px;
}

.standart, .expert, .vip {
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17);
border-radius: 21px;
margin-right: 20px;
width: 200px;
height: 100%;
text-align: center;
color: #000000;
}

.vip {
border: 1px solid #FFB800;
}

.title  {
padding-top: 25px;
font-family: 'Gotham Pro Bold';
}

.title {
color: #DD7D0C;
font-size: 20px;
}

#standart-title{
color: #000000;
padding-top: 25px;
font-family: 'Gotham Pro Bold';
font-size: 20px;
}

.item-text {
font-family: 'Gotham Pro Light';
padding: 35px 29px 35px 30px;
font-size: 11px;
}

input {
margin-top: 20px;
width: 259px;
height: 50px;
background: #BFBFBF;
border-radius: 15px;
padding-left: 0px;
}

#form {
margin: 300px auto;
}

